/* body { */
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
/* } */

* {
   margin: 0;
}

html {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

.data-display {
  display: flex;
}

.past-trips-section,
.pending-trips-section,
.cost {
  margin-top: 40px;
  height: 200px;
  display: flex;
  width: 33.33%;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
}

.trip-form {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.input-box {
  display: flex;
  justify-content: space-between;
}

.user-input {
  width: 30%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.destination-display {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.img-box {
  width: 250px;
}

.img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.image-section-heading {
  display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

.search-location {
  width: 145px;
}

.hidden {
  display: none;
}