/* body { */
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
/* } */

* {
   margin: 0;
}

html {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
}

.past-trips-section,
.pending-trips-section {
  display: flex;
  justify-content: center;
  width: 50%;
}
